extends ./layout/index

block contenido

    main.container.mt-5 
        .row
            .col-md-5
                img(src="img/nosotros.jpg",alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
               h1 #{pagina}
               blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc bibendum, libero eu finibus gravida, dolor felis mollis purus, nec sollicitudin tellus nibh a nisi. Aliquam sollicitudin magna vel massa feugiat, vitae suscipit sem venenatis. Quisque fermentum velit odio, in suscipit lacus fringilla sed. In magna nulla, placerat sed porta eget, facilisis id metus. Nulla consequat lectus eget enim condimentum, id blandit tortor laoreet. Suspendisse consequat ac turpis at iaculis. 

               p euismod consequat vestibulum. Duis ornare eget tellus quis tincidunt. Praesent pellentesque eros a nisi finibus auctor. Quisque massa odio, vestibulum id sagittis tempus, congue eget tellus. Aliquam egestas, turpis vitae luctus lacinia, nisi odio facilisis tellus, id lobortis ipsum ex at nisi. Ut sagittis nibh nec quam sollicitudin, blandit imperdiet elit pretium. Maecenas in magna elemen

               p varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec diam arcu, tristique sit amet molestie non, vestibulum eget elit. Nulla ac tincidunt lacus. Sed non orci at sapien egestas dignissim at eu justo. Duis volutpat interdum enim in ultricies. Phasellus condimentum sem sit amet condimentum semper. 
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" , class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, facilis corrupti et eum beatae libero accusantium distinctio minima? Itaque fugiat laborum officia ipsa, asperiores quos pariatur repellendus doloremque architecto eligendi?.
                
                .col-md-4   
                    img(src="img/icono_destinos.svg", alt="icono destinos" , class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, facilis corrupti et eum beatae libero accusantium distinctio minima? Itaque fugiat laborum officia ipsa, asperiores quos pariatur repellendus doloremque architecto eligendi?.

                .col-md-4   
                    img(src="img/icono_precios.svg", alt="icono precios" , class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, facilis corrupti et eum beatae libero accusantium distinctio minima? Itaque fugiat laborum officia ipsa, asperiores quos pariatur repellendus doloremque architecto eligendi?.